body {
  background: yellow;
  text-align: center;
}

img {
  width: 100%;
  height: auto;
   transition: 0.3s ease-in-out;
  border-radius: 12px;
}
@media (min-width: 768px) {
  img {
    width: 35%;
  }
}


img:hover {
  transform: scale(1.4,1.4);
  transform: translateY(-10)
}

alt:meem {
  
}
